<div style="position: absolute; top: 0; left: 0; background-color: red;">
  {{animated-orphans}}
</div>


<div class="demos">
  {{outlet}}
</div>

<div style="position: fixed; left: 0; right: 0; bottom: 0; background: yellow;">
  <label>scale:</label>
  <button onclick={{action 'changeScale' 0.5}}>50%</button>
  <button onclick={{action 'changeScale' 0.8}}>80%</button>
  <button onclick={{action 'changeScale' 0.9}}>90%</button>
  <button onclick={{action 'changeScale' 1}}>100%</button>
  <button onclick={{action 'changeScale' 1.1}}>110%</button>
  <button onclick={{action 'changeScale' 1.2}}>120%</button>
  <button onclick={{action 'changeScale' 1.5}}>150%</button>
</div>
